{% extends "inherited_navigation.html" %}

{% block body %}


<div class="main">
	<b><h1 style="text-align:center">About Us</h1></b>

	<div class="card">
	 
	  <p><b>Username</b>&nbsp;&nbsp;&nbsp;&nbsp;Abhijeet Awaghade </p>
	  <p><b>Contact No</b>:&nbsp;&nbsp;&nbsp;&nbsp;8149512522</p>
	  <p><b>Email Id</b>:&nbsp;&nbsp;&nbsp;&nbsp;mangeshshinde242@gmail.com</p>
	  	
	</div>

</br>
</br>
</br>
</br>

	<div class="card">
	 
	  <p><b>Username</b>&nbsp;&nbsp;&nbsp;&nbsp;Mangesh Zoke</p>
	  <p><b>Contact No</b>:&nbsp;&nbsp;&nbsp;&nbsp;8830226568</p>
	
	  
	  <p><b>Email Id</b>:&nbsp;&nbsp;&nbsp;&nbsp;mangeshshinde242@gmail.com</p>

	</div>
	</div>
	

</br>
</br>
</br>
</br>
	<div class="card">
	 
	  <p><b >Username</b>&nbsp;&nbsp;&nbsp;&nbsp;Megharaj Deshmukh </p>
	  <p><b>Contact No</b>:&nbsp;&nbsp;&nbsp;&nbsp;8605920537</p>
	 
	  <p><b>Email Id</b>:&nbsp;&nbsp;&nbsp;&nbsp;mangeshshinde242@gmail.com</p>
	 
	</div>

	

</br>
</br>
</br>
</br>
	<div class="card">
	 
	  <p><b>Username</b>&nbsp;&nbsp;&nbsp;&nbsp;Saurabh Patil</p>
	  <p><b>Contact No</b>:&nbsp;&nbsp;&nbsp;&nbsp;9096036887</p>
	  <p><b>Email Id</b>:&nbsp;&nbsp;&nbsp;&nbsp;mangeshshinde242@gmail.com</p>

	</div>
	</div>
	
</div>



{% endblock  %} 