{% extends "inherited_navigation.html" %}

 {%  block body %}
{% if information %}
<form action="{{url_for('single_book')}}" method="post">
	<table>
	<tr>
	<th>Title</th>
	<th>Positive Review</th>
	<th>Negative Review</th>
	<th>Total</th>
	{% for i in information %}
	<tr>
	  
	  <td><input type="submit" name="title_name" value="{{i[0]}}"></td>
	  <td>{{i[1]}}</td>
	  <td>{{i[2]}}</td>
	  <td>{{i[3]}}</td>
	{% endfor %}  

</table>
</form>

{% else %}
<h2>no record</h2>
{% endif %}


{% if info%}
<h1>Text Reviews:</h1>
{% for i in info %}
<div class="w3-container">
<div class="w3-panel w3-card"><p><label>{{i[0]}}</label><br><label>{{i[1].username}}:{{i[1].review}}</label></p></div>
 <!--- <div class="w3-panel w3-card-2"><p>w3-card-2</p></div>
  <div class="w3-panel w3-card-4"><p>w3-card-4</p></div>--->
</div>

{% endfor %} 
{% endif %}
{% endblock %}